/**---------------------
		  *
		  * Pagination
		  *
		  *---------------------**/
		.pagination {
			text-align: center;
			margin: 15px 0 0
		}

		.pagination a {
			display: inline-block;
			margin: 0;
			border-radius: 50%;
			color: #212121;
			min-width: 30px;
			min-height: 30px;
			line-height: 30px;
		}

		.pagination a.active {
			color: #FFF;
			background-color: rgb(243,116,93);
		}