/**---------------------
		  *
		  * Title
		  *
		  *---------------------**/
		.bordered-title{
			border-bottom: 1px solid rgba(0,0,0,.12);
			margin: 0 -20px;
			padding: 0 20px 8px;
		}

		.bordered-title h3{
			margin: 0;
			line-height: 1.4;
		}

		.bordered-title h5{
			opacity: .54;
			margin: 0;
		}