/**---------------------
		  *
		  * Title with Icon
		  *
		  *---------------------**/
		.title-with-icon div{
			margin-left: 55px;
		}

		.title-with-icon i{
			font-size: 41px;
			line-height: 1;
			opacity: .54;
			position: absolute;
		}

		.title-with-icon h2{
			margin: 0;
			font-size: 1.6rem;
			line-height: 1.4;
		}

		.title-with-icon h3{
			font-size: 1.2rem;
			opacity: .35;
			margin: 0;
		}