/**---------------------
          *
          * TimeLine
          *
          *---------------------**/
		amp-user-notification {
		    padding: 8px;
			font-weight: 500;
		}

		amp-user-notification button{
		    padding: 8px;
			font-weight: 500;
		}